<div class="modal-header">
  <h4 class="modal-title">{{title}} Producto</h4>
  <button type="button" class="close" aria-label="Close button" aria-describedby="modal-title" (click)="activeModal.dismiss()">
    <span aria-hidden="true">x</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="frmProductosclientes">
    <div class="form-group row">
      <label class="col-sm-3 col-form-label">Clientes</label>
      <div class="col-sm-9">
        <select class="form-control" formControlName="cliente">
          <option *ngFor="let cliente of clientes" [value]="cliente.cliId">
            {{cliente.cliNombre}} {{cliente.cliApellido}} DNI: {{cliente.cliDni}}
          </option>
        </select>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-3 col-form-label">Producto</label>
      <div class="col-sm-9">
        <select   class="form-control" formControlName="producto">
          <option *ngFor="let producto of productos" [value]="producto.prodId">
            {{producto.prodNombre}}  {{producto.prodPrecio}}
          </option>
        </select>
      </div>
    </div>
  </form>
  <div class="modal-footer">
    <button type="button" style="background-color: #0F3971;" [disabled]="frmProductosclientes.invalid" *ngIf="title =='Gestionar'" class="btn btn-primary" (click)="assign()">Guardar</button>
  </div>
  <div class="table-responsive">
    <table class="table table-bordered table-striped">
      <thead>
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Tipo persona</th>
        <th>Taller</th>
        <th>Asistencia</th>
        <th>Opcion</th>
      </tr>
      </thead>
      <tbody *ngFor="let productos of productos; index as i" >
      <tr *ngIf="productos.cliente.prodId ==prodId ">
        <td>{{i+1}}</td>
        <td>{{productos.cliente.cliNombres}}</td>
        <td>{{productos.cliente.producto.prodNombre}}</td>
        <td>{{productos.producto.prodNombre}}</td>
        <td>{{productos.petaAsistencia}}</td>
        <td class="text-center">
          <button type="button" (click)="onAsistio(productos)" class="btn btn-warning" style="background-color: #2BDE07;" *ngIf="productos.petaAsistencia =='F'">Asistio</button>
          <button type="button" (click)="onFalto(productos)" class="btn btn-danger" *ngIf="productos.petaAsistencia =='A'" >Falta</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-outline-secondary" (click)="activeModal.dismiss()">Cancelar</button>
</div>
