<div class="modal-header">
  <h4 class="modal-title" id="modal-title">{{title}} Caja</h4>
  <button (click)="activeModal.dismiss()" type="button" class="close"
          aria-label="Close button" aria-describedby="modal-title">
    <span aria-hidden="true">x</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="frmCaja" >
    <div class="form-group row">
      <label class="col-sm-3 col-form-label">Pago</label>
      <div class="col-sm-9">
        <input formControlName="cajPago" type="text"  class="form-control" placeholder="Ingrese Pago">
      </div>
    </div>

    <div class="form-group row">
      <label class="col-sm-3 col-form-label">Cambio</label>
      <div class="col-sm-9">
        <input formControlName="cajCambio" type="text" class="form-control" placeholder="Ingrese cambio">
      </div>
    </div>

  </form>
</div>
<div class="modal-footer">
   <button type="button" [disabled]="frmCaja.invalid" *ngIf="title=='Nuevo'" class="btn btn-primary"(click)="save">Guardar</button>
  <button type="button" [disabled]="frmCaja.invalid" *ngIf="title=='Modificar'" class="btn btn-primary" (click)="update()">Guardar</button>
  <button type="button" class="btn btn-outline-secondary"
          (click)="activeModal.dismiss('Cerrar modal')">Cancelar</button>
</div>


